In [1]:
import sys; sys.path.append("..")

import psycopg2
from utils import get_connection, get_data

### Open Connection

In [8]:
con = get_connection()

### Problem 1

In [ ]:
query = "SELECT * FROM cd.facilities;"

print(get_data(con, query))

### Problem 2

In [ ]:
query = "SELECT name, membercost FROM cd.facilities;"

print(get_data(con, query))

### Problem 3

In [ ]:
query = """
SELECT name, membercost FROM cd.facilities
WHERE membercost != 0;
"""

print(get_data(con, query))

### Problem 4

In [ ]:
query = """
SELECT name, membercost, monthlymaintenance FROM cd.facilities
WHERE 50*membercost < monthlymaintenance AND membercost != 0;
"""

print(get_data(con, query))

### Problem 5

In [ ]:
query = """
SELECT * FROM cd.facilities
WHERE name LIKE '%Tennis%';
"""

print(get_data(con, query))

### Problem 6

In [ ]:
query = """
SELECT * FROM cd.facilities
WHERE facid IN (1,5);
"""

print(get_data(con, query))

### Problem 7

In [ ]:
query = """
SELECT memid, surname, firstname, joindate FROM cd.members
WHERE joindate >= '2012-09-01 00:00:00';
"""

print(get_data(con, query))

### Problem 8

In [ ]:
query = """
SELECT DISTINCT(surname) FROM cd.members
ORDER BY surname
LIMIT 10;
"""

print(get_data(con, query))

### Problem 9

In [ ]:
query = """
SELECT memid, joindate FROM cd.members
ORDER BY memid DESC
LIMIT 1;
"""

print(get_data(con, query))

### Problem 10

In [ ]:
query = """
SELECT COUNT(*) FROM cd.facilities
WHERE guestcost >= 10;
"""

print(get_data(con, query))

### Problem 11

In [ ]:
query = """
SELECT facid, SUM(slots) AS total_slots FROM cd.bookings
WHERE starttime >= '2012-09-01 00:00:00'
GROUP BY facid;
"""

print(get_data(con, query))

### Problem 12

In [ ]:
query = """
SELECT facid, SUM(slots) AS total_slots FROM cd.bookings
GROUP BY facid
HAVING SUM(slots) > 1000;
"""

print(get_data(con, query))

### Problem 13

In [ ]:
query = """
SELECT starttime AS start, name FROM (
    cd.bookings INNER JOIN cd.facilities
    ON cd.bookings.facid = cd.facilities.facid
)
WHERE TO_CHAR(starttime, 'yyyy-mm-dd') = '2012-09-21'
    AND name LIKE '%Tennis Court%'
ORDER BY starttime;
"""

print(get_data(con, query))

### Problem 14

In [ ]:
query = """
SELECT starttime FROM (
    (SELECT memid, firstname, surname FROM cd.members) AS members
    INNER JOIN
    (SELECT memid, starttime FROM cd.bookings) AS bookings
    ON members.memid = bookings.memid
)
WHERE  firstname = 'David' and surname='Farrell';
"""

print(get_data(con, query))

### Close Connection

In [10]:
con.close()