In [7]:
import sys; sys.path.append("..")

import psycopg2
from utils import get_connection, get_data

### Open Connection

In [8]:
con = get_connection()

### Challenge: SELECT

In [33]:
query = "SELECT first_name, last_name, email FROM customer;"
print("Challenge - SELECT :\n", get_data(con, query, 5), sep='')

Challenge - SELECT :
[('Jared', 'Ely', 'jared.ely@sakilacustomer.org'), ('Mary', 'Smith', 'mary.smith@sakilacustomer.org'), ('Patricia', 'Johnson', 'patricia.johnson@sakilacustomer.org'), ('Linda', 'Williams', 'linda.williams@sakilacustomer.org'), ('Barbara', 'Jones', 'barbara.jones@sakilacustomer.org')]

### Challenge: SELECT DISTINCT

In [31]:
query = "SELECT DISTINCT rating FROM film;"
print("Challenge - SELECT DISTINCT :\n", get_data(con, query), sep='')

Challenge - SELECT DISTINCT :
[('PG',), ('R',), ('NC-17',), ('PG-13',), ('G',)]

### Challenge: SELECT WHERE

In [9]:
# queries = [
# """
# SELECT r.email FROM (
#     SELECT first_name, last_name, email
#     FROM customer
#     WHERE first_name = 'Nancy'
#         AND last_name = 'Thomas'
# ) AS r;
# """,
# 
# """
# SELECT r.description FROM (
#     SELECT title, description
#     FROM film
#     WHERE title = 'Outlaw Hanky'
# ) AS r;
# """,
# ]

queries = [
    "SELECT email FROM customer WHERE first_name = 'Nancy' AND last_name = 'Thomas;",
    "SELECT description FROM film WHERE title = 'Outlaw Hanky';"
]

print("Challenge - SELECT WHERE : ")
for i, query in enumerate(queries):
    print(f"{i+1} : ", get_data(con, query, 10), sep='')

Challenge - SELECT WHERE :
1 : [('nancy.thomas@sakilacustomer.org',)]
2 : [('A Thoughtful Story of a Astronaut And a Composer who must Conquer a Dog in The Sahara Desert',)]

### General Challenge

In [5]:
queries = [
    "SELECT COUNT(*) FROM payment WHERE amount > 5;",
    "SELECT COUNT(*) FROM actor WHERE first_name LIKE 'P%';",
    "SELECT COUNT(DISTINCT(district)) FROM address;",
    "SELECT DISTINCT(district) FROM address;",
    "SELECT COUNT(*) FROM film WHERE (rating='R' AND replacement_cost BETWEEN 5 AND 15);",
    "SELECT COUNT(*) FROM film WHERE title LIKE '%Truman%';",
]
fetchmany_idx = [3]

print("Challenge - General Challenge : ")
for i, query in enumerate(queries):
    num = 5 if i in fetchmany_idx else 0
    print(f"{i+1}-th answer : ", get_data(con, query, num), sep='')

Challenge - General Challenge :
1-th answer : [(3618,)]
2-th answer : [(5,)]
3-th answer : [(378,)]
4-th answer : [('Aden',), ('Eastern Visayas',), ('Vaduz',), ('Tokat',), ('Anzotegui',)]
5-th answer : [(52,)]
6-th answer : [(5,)]

### Close Connection

In [10]:
con.close()