In [1]:
import sys; sys.path.append("..")

import psycopg2
from utils import get_connection, get_data

### Open Connection

In [6]:
con = get_connection()

### Challenge: GROUP BY

In [3]:
queries = [
    "SELECT staff_id, COUNT(amount) FROM payment GROUP BY staff_id;",
    "SELECT rating, AVG(replacement_cost) FROM film GROUP BY rating;",

    """
    SELECT customer_id, SUM(amount) AS amounts FROM payment
    GROUP BY customer_id
    ORDER BY amounts DESC
    LIMIT 5;
    """,
]

print("Challenge - GROUP BY : ")
for i, query in enumerate(queries):
    print(f"{i+1} : ", get_data(con, query, 10), sep='')

Challenge - GROUP BY :
1 : [(1, 7292), (2, 7304)]
2 : [('PG', Decimal('18.9590721649484536')), ('R', Decimal('20.2310256410256410')), ('NC-17', Decimal('20.1376190476190476')), ('PG-13', Decimal('20.4025560538116592')), ('G', Decimal('20.1248314606741573'))]
3 : [(148, Decimal('211.55')), (526, Decimal('208.58')), (178, Decimal('194.61')), (137, Decimal('191.62')), (144, Decimal('189.60'))]

### Challenge: HAVING

In [7]:
queries = [
    """
    SELECT customer_id, COUNT(amount) FROM payment
    GROUP BY customer_id
    HAVING COUNT(amount) >= 40;
    """,

    """
    SELECT customer_id,SUM(amount) FROM payment
    WHERE staff_id = 2
    GROUP BY customer_id
    HAVING SUM(amount) >= 100;
    """
]

print("Challenge - HAVING : ")
for i, query in enumerate(queries):
    print(f"{i+1} : ", get_data(con, query, 10), sep='')

Challenge - HAVING :
1 : [(144, 40), (526, 42), (148, 45)]
2 : [(187, Decimal('110.81')), (522, Decimal('102.80')), (526, Decimal('101.78')), (211, Decimal('108.77')), (148, Decimal('110.78'))]

### Close Connection

In [9]:
con.close()