In [1]:
import sys; sys.path.append("..")

import psycopg2
from utils import get_connection, get_data

### Open Connection

In [8]:
con = get_connection()

### 1. Create Table

In [ ]:
queries = [
    """
    CREATE TABLE students (
        student_id SERIAL PRIMARY KEY,
        first_name STRING,
        last_name STRING,
        homeroom_number INTEGER,
        phone STRING UNIQUE,
        email STRING UNIQUE,
        graduation_year INTEGER,
    );
    """,

    """
    CREATE TABLE teachers (
        teacher_id SERIAL PRIMARY KEY,
        first_name STRING,
        last_name STRING,
        homeroom_number INTEGER,
        department STRING,
        phone STRING UNIQUE,
        email STRING UNIQUE,
    );
    """,
]

for i, query in enumerate(queries):
    print(f"{i+1} : ", get_data(con, query, 10), sep='')

### 2. Insert Values

In [ ]:
queries = [
    """
    INSERT INTO students
        (student_id, first_name, last_name, homeroom_number, phone, graduation_year)
    VALUES
        (1, 'Mark', 'Watney, 5, '777-555-1234', 2035);
    """,

    """
    INSERT INTO teachers
        (teacher_id, first_name, last_name, homeroom_number, department, phone, email)
    VALUES
        (1, 'Jonas', 'Salk', 5, 'Biology', 'jsalk@school.org', '777-555-4321')
    """
]

for i, query in enumerate(queries):
    print(f"{i+1} : ", get_data(con, query, 10), sep='')

### Close Connection

In [10]:
con.close()