## FastAPI

### Section 2: Python

* Variables in Python

In [1]:
# cost : variable
cost = 10
tax_percent = .25
tax = cost * tax_percent
price = cost + tax

print(price)

12.5

In [2]:
'''
<data type>
cost : integer
tax_percent : float
username = "Codingwithroby" : string
'''

'\n<data type>\ncost : integer\ntax_percent : float\nusername = "Codingwithroby" : string\n'

In [3]:
a = "akng"
b = "aslkfjsa"

print(a + " " + b)

akng aslkfjsa

* Comment(주석처리)

In [4]:


# 이렇게 쓰기
'''
이렇게 쓰기
'''

"""
이렇게 쓰기
"""

'\n이렇게 쓰기\n'

* String Formatting

In [5]:
first_name = "Eric"
print("Hi " + first_name)

Hi Eric

In [6]:
#중괄호로 감싸주기
print(f"Hi {first_name}")

Hi Eric

In [7]:
##
sentence = "Hi {}"
print(sentence.format(first_name))

Hi Eric

In [16]:
##
sentence = "Hi {} {}"
last_name = "Seung"
print(sentence.format(first_name, last_name))

Hi Eric Seung

In [17]:
print(f"Hi {first_name} {last_name} I hope you are learning")

Hi Eric Seung I hope you are learning

* User Input

In [24]:
first_name = input("Enter your first name: ")
days = input("How many days before your birthday: ")
print(f"Hi {first_name} only {days} days "
      f"before your birthday!")

Hi seungyeop only 100 days before your birthday!

In [26]:
# string assignment
day_left = int(input("How many days until your birthday?"))

week_left = day_left//7
print(f"{week_left} weeks left until my birthday")

15 weeks left until my birthday

* Lists

In [27]:
my_list = [80, 96, 72, 100, 8]
people_list = ['Eric', 'Adele', 'Michel']

print(my_list)
print(people_list)

[80, 96, 72, 100, 8]
['Eric', 'Adele', 'Michel']

In [29]:
# index
my_list[3]
people_list[-2]

'Adele'

In [30]:
my_list[0] = 'Kane'
my_list

['Kane', 96, 72, 100, 8]

In [32]:
#slicing
people_list[:2]

['Eric', 'Adele']

In [34]:
#append
people_list.append('Kennedy')
people_list

['Eric', 'Adele', 'Michel', 'Kennedy', 'Kennedy']

In [35]:
# insert, remove
my_list.insert(2, 'Jack')
my_list.remove('Kane')
my_list

[96, 'Jack', 72, 100, 8]

In [36]:
# pop : index=1 지우고 보여준다
my_list.pop(1)

'Jack'

In [37]:
# sort
my_list.sort()
my_list

[8, 72, 96, 100]

* Sets & Tuples

- sets : 순서 x 중복 x, mutable(수정가능)
- tuples : 순서 x, immutable(수정불가)

In [42]:
# set
my_set = {1,2,3,1,2,3,4,5}
my_set.remove(1)

In [39]:
# tuple
my_tuple = (1,2,3,4,5)
my_tuple.append(100)
my_tuple[2] = 100

AttributeError: 'tuple' object has no attribute 'append'

* set

In [43]:
for i in my_set:
    print(i)

2
3
4
5

In [44]:
# discard
my_set.discard(3)
print(my_set)

{2, 4, 5}

In [46]:
# clear
my_set.clear()
my_set

set()

In [49]:
# add
my_set.add(5)

In [50]:
# update
my_set.update([6,7,8])
my_set

{5, 6, 7, 8}

In [55]:
# List Assignment
zoo = ['Zebra','Cobra','Giraffe','Lion','Dolphin']
zoo.pop(3)

'Lion'

In [56]:
zoo.append('Tiger')
zoo.remove('Zebra')
zoo

['Cobra', 'Giraffe', 'Dolphin', 'Tiger']

In [57]:
for x in zoo:
    print(x)

Cobra
Giraffe
Dolphin
Tiger

In [58]:
print(zoo[:3])

['Cobra', 'Giraffe', 'Dolphin']

* Boolean & Operators

In [59]:
like_coffee = True
like_tea = False

favorite_food = "Pizza"
favorite_number = 32

In [60]:
print(type(like_coffee))
print(type(favorite_food))
print(type(favorite_number))

<class 'bool'>
<class 'str'>
<class 'int'>

In [61]:
#comparison operator
print(1==2)

False

In [63]:
# logical operators
print(1>3 and 5<7)
print(not(1==1))

False
False

* If Else

In [1]:
x = 2

if x>1:
    print("x is greater than 1")
else:
    print("x is not greater than 1")
    
print("Outside of if statement")

x is greater than 1
Outside of if statement

In [ ]:
#If Else Assignment
grade = reversed(list(i for i in range(0,101)))

for x in grade:
    if 90<=x<=100:
        print("A")
    elif 80<=x<=89:
        print("B")
    elif 70<=x<=79:
        print("C")
    elif 60<=x<=69:
        print("D")
    else:
        print("F")

* loop

In [7]:
my_list = [1,2,3,4,5,6,7]

for i in my_list:
    print(i)

1
2
3
4
5
6
7

In [10]:
sum_of_loop = 0

for i in range(1,7):
    sum_of_loop += i
    print(i)
    
sum_of_loop

1
2
3
4
5
6

21

In [11]:
my_list = ['Monday','Tuesday','Wednesday','Thursday']

for x in my_list:
    print(f"Happy {x}")

Happy Monday
Happy Tuesday
Happy Wednesday
Happy Thursday

In [16]:
##
# continue : 아래 코드 건너뛰어서 돌아오기
# break : 멈추기
i = 0

while i<5:
    i += 1
    if i==3:
        continue    # i==3이면 아래 코드 건너뛰기
    print(i)
    if i==4:
        break       # while loop 종료
else:               # while loop가 끝나면
    print("i is now larger of equal to 5")

1
2
4

In [17]:
# Loops Assignment
my_list = ['Monday','Tuesday','Wednesday','Thursday','Friday']

i=0
while i<3:
    for x in my_list:
        if x=='Monday':
            continue
        print(x)
    i += 1

Tuesday
Wednesday
Thursday
Friday
Tuesday
Wednesday
Thursday
Friday
Tuesday
Wednesday
Thursday
Friday

* Dictionaries

In [19]:
user_dictionary = {
    'username':'codingwithroby',
    'name':'Eric',
    'age':32
}

print(user_dictionary)

{'username': 'codingwithroby', 'name': 'Eric', 'age': 32}

In [20]:
# get
user_dictionary.get("username")

'codingwithroby'

In [21]:
#dictionary에 추가
user_dictionary["married"]=True
user_dictionary

{'username': 'codingwithroby', 'name': 'Eric', 'age': 32, 'married': True}

In [22]:
# len
len(user_dictionary)

4

In [23]:
# pop
user_dictionary.pop("age")
user_dictionary

{'username': 'codingwithroby', 'name': 'Eric', 'married': True}

In [24]:
# clear - 전체 삭제
user_dictionary.clear()
user_dictionary

{}

In [25]:
# del - 전체 삭제
del user_dictionary

In [26]:
user_dictionary = {
    'username':'codingwithroby',
    'name':'Eric',
    'age':32
}

# key만 출력
for x in user_dictionary:
    print(x)

username
name
age

In [29]:
## for loop -> key, value 함께 가져오기
for x,y in user_dictionary.items():
    print(x,y)

username codingwithroby
name Eric
age 32

In [30]:
## 복사한 것이 함께 수정됨
user_dictionary2 = user_dictionary
user_dictionary2.pop("age")
print(user_dictionary)

{'username': 'codingwithroby', 'name': 'Eric'}

In [33]:
user_dictionary['age'] = 32

# 아예 별개의 객체로 만들기 - copy()
user_dictionary2 = user_dictionary.copy()
user_dictionary2.pop("age")
print(user_dictionary)

{'username': 'codingwithroby', 'name': 'Eric', 'age': 32}

In [36]:
my_vehicle = {
    "model":"Ford",
    "make":"Explorer",
    "year":2018,
    "mileage":40000
}

for key, values in my_vehicle.items():
    print(f"key : {key}\t"
          f"values : {values}")

key : model	values : Ford
key : make	values : Explorer
key : year	values : 2018
key : mileage	values : 40000

In [37]:
vehicle2 = my_vehicle.copy()
vehicle2['number_of_tires']=4
del vehicle2['mileage']

for x in vehicle2:
    print(x)

model
make
year
number_of_tires

* functions

In [ ]:
#내장함수
print("Hello and welcome to function")

In [38]:
#함수 만들기 but 아직 print 실행 x
def my_function():
    print("Inside my_function")

In [39]:
# parameter 없음
my_function()

Inside my_function

In [43]:
# parameter 있음
def my_name(first_name,last_name):
    print(f"Hello {first_name} {last_name}!")

In [44]:
my_name("Ray","Dalio")

Hello Ray Dalio!

* global variable
* local variable

In [45]:
def print_color_red():
    color = "Red"
    print(color)

In [47]:
color = "Blue"      
print(color)        # global variable
print_color_red()   # local variable

Blue
Red

In [48]:
def print_numbers(highest_num, lowest_num):
    print(highest_num)
    print(lowest_num)

In [49]:
# 지정해주기
print_numbers(lowest_num=3, highest_num=10)

10
3

In [50]:
# return
def multiply_numbers(a,b):
    return a*b

In [51]:
solution = multiply_numbers(10,6)
print(solution)

60

In [52]:
def print_list(list_of_numbers:list):   #annotation
    for x in list_of_numbers:
        print(x)

In [53]:
number_list = [1,2,3,4,5,6,7]
print_list(number_list)

1
2
3
4
5
6
7

In [56]:
##
def buy_item(cost_of_item):
    return cost_of_item + add_tax_to_item(cost_of_item)

def add_tax_to_item(cost_of_item):
    current_tax_rate = .03
    return cost_of_item * current_tax_rate

In [55]:
final_cost = buy_item(50)
print(final_cost)

51.5

In [64]:
# Functions Assignment
def name_age(firstname, lastname, age):
    user_dictionary = {
        "firstname": firstname,
        "lastname" : lastname,
        "age" : age
    }
    return user_dictionary

In [66]:
solution_dictionary = name_age(firstname = "seungyeop",lastname = "kang",age=25)
print(solution_dictionary)

{'firstname': 'seungyeop', 'lastname': 'kang', 'age': 25}

In [68]:
solution_dictionary = name_age("seungyeop", "kang",25)
print(solution_dictionary)

{'firstname': 'seungyeop', 'lastname': 'kang', 'age': 25}

* imports

In [2]:
homework_assignment_grades = {
    'homework_1' : 85,
    'homework_2' : 100,
    'homework_3' : 81,
}

In [1]:
def calculate_homework(homework_assignments_arg:list):
    sum_of_grades = 0
    for homework in homework_assignments_arg.values():
        sum_of_grades += homework
    final_grade = round(sum_of_grades / len(homework_assignments_arg),2)
    print(final_grade)

In [3]:
calculate_homework(homework_assignment_grades)

88.67

In [7]:
#As로 이름바꾸기
import grade_average_service as grade_service

In [6]:
import os
os.getcwd()

'c:\\Users\\sykan\\Desktop\\FBA Quant\\Quant Development\\new repository\\SQL_Bootcamp\\Week4'

In [9]:
import standardlibrary

* Object Oriented Programming

In [12]:
class Student:
    pass

In [13]:
#making instance
student_1 = Student()
student_2 = Student()

In [14]:
# 두 instance는 서로 다른 memory에 있다
print(student_1)
print(student_2)

<__main__.Student object at 0x00000258070EE650>
<__main__.Student object at 0x000002580840FEB0>

In [15]:
student_1.first_name = 'Eric'
student_1.last_name = 'Roby'
student_1.major = 'Computer Science'

student_2.first_name = 'John'
student_2.last_name = 'Miller'
student_2.major = 'Math'

In [16]:
print(student_1.major)
print(student_2.major)

Computer Science
Math

In [21]:
class Student:
    def __init__(self, first_name, last_name, major):
        self.first_name = first_name
        self.last_name = last_name
        self.major = major

    #class method
    def fullname_with_major(self):
        return f'{self.first_name} {self.last_name} is a '\
               f'{self.major} major!'

In [22]:
# making instance -> 변수 값 바로 삽입
student_1 = Student('Eric','Roby','Computer Science')
student_2 = Student('John','Miller','Math')

In [19]:
print(student_1.first_name)
print(student_2.first_name)

Eric
John

In [23]:
# class 내의 메서드 사용
print(student_1.fullname_with_major())
print(student_2.fullname_with_major())

Eric Roby is a Computer Science major!
John Miller is a Math major!

In [36]:
class Student:
    
    number_of_students = 0
    school = 'Online School'  #class variable
    
    def __init__(self, first_name, last_name, major):
        self.first_name = first_name
        self.last_name = last_name
        self.major = major

        # new student가 만들어질 때마다 number_of_students 1씩 추가
        Student.number_of_students += 1

    def fullname_with_major(self):
        return f'{self.first_name} {self.last_name} is a '\
               f'{self.major} major!'
               
    def fullname_major_school(self):
        return f'{self.first_name} {self.last_name} is a '\
               f'{self.major} major going to {self.school}'
    
    #decorator
    # new_school인자를 받으면 그 인자가 class 내의 school 변수가 됨
    @classmethod
    def set_online_school(cls, new_school):
        cls.school = new_school
        
    @classmethod
    def split_students(cls, student_str):
        first_name, last_name, major = student_str.split('.')
        return cls(first_name, last_name, major)

### Decorator
기존 함수를 변경하지 않으면서 함수에 기능을 추가할 수 있게 해주는 도구

In [34]:
# class variable
print(f'Number of students = {Student.number_of_students}')
student_1 = Student('Eric','Roby','Computer Science')
student_2 = Student('John','Miller','Math')
# 위 2개 코드로 __init__에 2개가 들어감 -> number_of_students +2
print(f'Number of students = {Student.number_of_students}')


print(student_1.school)
print(student_2.school)

Student.set_online_school

Number of students = 0
Number of students = 2
Online School
Online School

In [31]:
print(student_1.fullname_major_school())
print(student_2.fullname_major_school())

Eric Roby is a Computer Science major going to Online School
John Miller is a Math major going to Online School

In [40]:
new_student = 'Adil.Yutzy.English'
student_3 = Student.split_students(new_student)
print(student_3.fullname_major_school())

Adil Yutzy is a English major going to Online School

* Inheritance
- making subclass from parent class

In [12]:
class Student:
    
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    def greetings(self):
        return f'Hello! I am {self.first_name} {self.last_name}'
    
class CollegeStudent(Student):
    pass

student_1 = CollegeStudent('Eric','Roby')   ## 주목
student_2 = Student('John','Miller')

print(student_1.greetings())    #CollegeStudent의 내용물은 아무것도 없지만 Student class를 상속받아 greetings() 사용
print(student_2.greetings())

Hello! I am Eric Roby
Hello! I am John Miller

In [19]:
class Student:
    
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    def greetings(self):
        return f'Hello! I am {self.first_name} {self.last_name}'
    
class CollegeStudent(Student):
    def __init__(self, first_name, last_name, major):
        super().__init__(first_name, last_name)     #super() : parent level로 이동(student)
                                                    #즉, CollegeStudent 클래스의 first_name, last_name은 Stuent 클래스에서 가져온다!
        self.major = major # 이 부분은 다시 적어야 함 / first_name, last_name은 Student에서 이미 나옴

    def greetings(self):
        return f'{self.first_name} is a college student!'

class NonCollegeStudent(Student):
    def __init__(self, first_name, last_name, future_adult_job):
        super().__init__(first_name, last_name)
        
        self.future_adult_job = future_adult_job

    def grow_up(self):
        return f'When I grow up, I want to be a {self.future_adult_job}'


student_1 = CollegeStudent('Eric','Roby','Computer Science')
student_2 = Student('John','Miller')
student_3 = NonCollegeStudent('John','Miller','Doctor')

print(student_1.greetings())    # CollegeStudent는 def에 greetings가 따로 있어 이것을 따름
print(student_2.greetings())
print(student_3.greetings())
print(student_3.future_adult_job)
print(student_3.grow_up())

Eric is a college student!
Hello! I am John Miller
Hello! I am John Miller
Doctor
When I grow up, I want to be a Doctor